@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    ---main-color:#29fd53;
}

body {
    min-height: 100vh;
    background: #379683;
    color: black;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: 0.2s;
    height: 50px;
}

.logo-crb {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.logo img {
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 15px;
    padding: 10px;
    color: #EDF5E1;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    transition: all .1s ease;
}

header .navbar ul li a:hover {
    color: #5CDB95;
}

.cool-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #5CDB95;
    transition: width .3s;
}

.cool-hover:hover::after {
 width: 100%;
 transition: width .3s;   
}

header.sticky {
    background: #5CDB95;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    height: 50px;
}


 .sticky .navbar a {
    color: #222327;
}

.sticky .navbar a:hover {
    color:  #EDF5E1;
} 


.sticky .cool-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EDF5E1;
    transition: width .3s;
}

.sticky .cool-hover:hover::after {
 width: 100%;
 transition: width .3s;   
}

.beranda {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url(images/kotaudang1.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.beranda-text {
    display: block; 
    position: relative;
    margin: auto;
    left: 30%;
    width: 600px;
    bottom: 50px;
}

.beranda-text h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    line-height: 1;
    color: #5CDB95;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-weight: 1000;
    text-transform: uppercase;
}

.beranda-text h1 text {
    color: #379683;
}

.beranda-text span {
    display: block;
    margin: 10px;
    color: #EDF5E1;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 400;
    line-height: 1.5;
}

.search-box{
    position: relative;
    height: 40px;
    max-width: 300px;
    width: 100%;
    margin: 10px 20px;
}

.search-box input{
    position: absolute;
    border: 1px solid #379683;
    background-color: #5CDB95;
    padding: 0 25px 0 50px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: #EDF5E1;
}

/* bupati & wakil bupati */

.container-pemerintahan {
    background: #379683;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.pemerintahan {
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
}

.card {
    background: #EDF5E1;
}

.card img {
    width: 200px;
    height: 300px;
}

.card.b {
    margin-right: 10px;
}

.card.wb {
    margin-left: 10px;
}

.card-text {
    display: block;
    text-align: center;
    background-color: #5CDB95;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-text h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #EDF5E1;
}

/* profil singkat kab cirebon */

.profil-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background: #5CDB95;
    border-top-right-radius: 30%;
}

.profil {
    display: block;
    box-sizing: border-box;
    max-width: 1100px;
    width: 1100px;
    margin: auto;
    padding: 15px;
}

.profil-isi {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-bottom: 10px;
}

.profil-head {
    position: relative;
    display: flex;
    width: 650px;
    margin: auto;
    background-color: #379683;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .profil-head i {
    font-size: 50px;
    align-items: center;
    color: #EDF5E1;
  }

  .profil-head h1 {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 30px;
    color: #EDF5E1;
    font-weight: 800;
    text-align: left;
  }

.profil-text {
    box-sizing: border-box;
    display: block;
    text-align: left;
    max-width: 50%;
    width: 45%;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 5px 20px 10px;
}

.profil-text p{
    display: block;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    padding: 5px;                                                                                                                                                                                                                                               
    text-align: justify;
    color: #EDF5E1;
}

.profil-btn {
    display: inline-block;
    background-color: #379683;
    color: #EDF5E1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration-line: none;
    cursor: pointer; 
    margin-top: 20px;       
}

.profil-btn:hover {
    background: #EDF5E1;
    color: #379683;
}

.profil-content {
    box-sizing: border-box;
    max-width: 50%;
    display: block;
    position: relative;
    margin: 30px 10px 30px 15px;
    width: 50%;                               
}

.profil-content video {
    display: block;
    position: relative;
    width: 100%;
}

/* geo */

.sejarah-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 10px;
    background: #5CDB95;
    border-bottom-left-radius: 30%;
}

.sejarah {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 50px;
}

.sejarah-right {
    display: block;
    width: 50%;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sejarah-right p {
    font-size: 15px;
    text-align: left;
    color: #EDF5E1;
    margin-left: 20px;
}
.sejarah-left {
    width: 50%;
    margin-left: 20px;
}

.sejarah-left img {
    width: 500px;
    height: 400px;
}



  /* info kependudukan */

.info-container {
    background: #379683;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 80px;
  }


.informasi-kec {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.info-text h1 {
    text-transform: uppercase;
    color: #EDF5E1;
    font-size: 30px;
}

.info-text p {
    font-size: 20px;
    color: #EDF5E1;
    margin-top: 10px;
}

footer {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #121315;
    color: #EDF5E1;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/footer.jpg);
    width: 100%;
  }

.row-pertama {
    padding: 3em 2em;
    display: flex;
    text-align: center;
    width:80%;
    margin: auto;
  }

.row-pertama .contact-us {
    padding: 2em 0;
    width: 100%;
}

.row-pertama i {
    font-size: 3em;
    color: #EDF5E1;
    margin-bottom: 5px;
  }
  
.copyright {
    padding: 0.3em 1em;
    background-color: #379683;
  }
.copyright p {
    font-size: 0.9em;
    text-align: center;
    color: #5CDB95;
  } 


  @media screen and (max-width: 850px) {
.footer {
    width: 100%;
}

    .row-pertama {
      flex-direction: column;
    }
  }
